.ekart--product--item {
    width: 290px;
    background-color: #FDFEFE;
    margin: 10px 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: #efefef 2px solid;
}

.ekart--product--image {
    width: 265px;
    height: 250px;
}

.ekart--add--to--price {
    padding: 5px 12px;
    position: absolute;
    margin-top: -25px;
    background-color: #28282B;
    color: white;
}

.ekart--product--name {
    font-size: 14px;
    color: #28282B;
    margin-top: 7px;
}

.ekart--product--category {
    font-size: 12px;
    color: 7e7e7e;
    margin-top: 7px;
}

