 .homepage {
    .hero {
      text-align: center;
      padding: 50px;
      background: #f4f4f4;
  
      h1 {
        font-size: 48px;
        color: #333;
      }
  
      p {
        font-size: 20px;
        color: #555;
      }
  
      .shop-now-btn {
        background-color: #ff6347;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 20px;
  
        &:hover {
          background-color: #ff4500;
        }
      }
    }
}
   .categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    gap: 20px;
    padding: 50px;
  
    .category {
      text-align: center;
      cursor: pointer;
  
      img {
        width: 100%;
        height: auto; 
        object-fit: cover; 
        aspect-ratio: 4 / 3; 
        border-radius: 10px;
        transition: transform 0.3s;
      }
  
      h2 {
        margin-top: 10px;
        font-size: 22px;
      }
  
      &:hover img {
        transform: scale(1.05);
      }
    }
  }
  
  @media (max-width: 768px) {
    .categories {
      padding: 20px;
    }
  
    .category h2 {
      font-size: 18px;
    }
  
    .hero {
      padding: 20px;
  
      h1 {
        font-size: 32px;
      }
  
      p {
        font-size: 16px;
      }
  
      .shop-now-btn {
        padding: 8px 16px;
        font-size: 16px;
      }
    }
  }
  